@import "components/global";

.App {
  padding: 24px;

  header {
    text-align: center;
    padding-bottom: 1em;
  }

  h2, h3 {
    margin: 0;
  }
}

.App *:first-child {
  margin-top: 0;
}

footer {
  text-align: center;
}

.GameTable {
  position: relative;
  margin: 2em 1.5em 4em;
  min-height: ($CardHeight + $CardMargin) * 7 + $CardMargin;
  height: 70vh;
  max-height: ($CardHeight + $CardMargin) * 9 + $CardMargin;
  border: 1px solid #808080;
  background-color: $surfaceBackground;
  border-radius: $CardMargin;
}

$SideWidth: ($CardWidth + $CardMargin) * 2;

#Seat-north {
  position: absolute;
  top: $CardMargin;
  left: $SideWidth + ($CardWidth / 2);
  right: $SideWidth + ($CardWidth / 2);
  margin: 0 auto;
  max-width: ($CardWidth + $CardMargin) * 7 ;
  text-align: center;

  .SeatLabelContainer {
    top: -2.5em;
    left: 0;
    right: 0;
  }
}

#Seat-east {
  position: absolute;
  top: $CardMargin;
  bottom: $CardMargin;
  right: 0;
  width: $SideWidth;
  text-align: center;

  @include verticallyCenter();

  .SeatLabelContainer {
    top: 0;
    bottom: 0;
    left: 100%;
    width: 2.5em;

    @include verticallyCenter;

    .SeatLabel {
      transform: rotate(90deg);
      transform-origin: center center;
    }
  }
}

#Seat-south {
  position: absolute;
  bottom: 0;
  left: $SideWidth + ($CardWidth / 2);
  right: $SideWidth + ($CardWidth / 2);
  margin: 0 auto;
  max-width: ($CardWidth + $CardMargin) * 7 ;
  text-align: center;

  .SeatLabelContainer {
    bottom: -2.5em;
    left: 0;
    right: 0;
  }
}

#Seat-west {
  position: absolute;
  top: $CardMargin;
  bottom: $CardMargin;
  left: $CardMargin;
  width: $SideWidth;
  text-align: center;

  @include verticallyCenter();

  .SeatLabelContainer {
    top: 0;
    bottom: 0;
    right: 100%;
    width: 2.5em;
    margin-right: $CardMargin;

    @include verticallyCenter;

    .SeatLabel {
      transform: rotate(-90deg);
      transform-origin: center center;
    }
  }
}

#GameOver, #GamePassConfirmation {
  position: relative;
  top: 50%;
  margin-top: -7em;
  width: 24em;
  height: 14em;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  text-align: center;
}

#GameScores {
  margin: 1em 0;
  line-height: 1.5em;
}