@import "global";

.SeatLabelContainer {
  position: absolute;
  text-align: center;
}

.SeatLabel {
  display: inline-block;
  padding: 0.1em 0.2em;
  margin-bottom: $CardMargin;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

.SeatActive .SeatLabel {
  background-color: black;
  color: white;
}

.SeatTrickWinner .SeatLabel {
  background-color: #808080;
  color: white;
}
