$CardWidth: 6vmin;
$CardHeight: 8.5vmin;
$CardMargin: 0.75vmin;
$shadowColor: rgba(0, 0, 0, 0.15);
$shadowColorDark: rgba(0, 0, 0, 0.5);
$shadowColorFade: rgba(0, 0, 0, 0.075);
$colorFade: hsl(320, 4%, 44%);

$boxShadow: 2px 2px 0 $shadowColor;
$boxShadowHover: 8px 8px 0 $shadowColorFade;
$boxShadowDisabled: 1px 1px 0 $shadowColorDark;

@mixin verticallyCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  color: hsl(315, 6%, 13%);
}

.color-faded {
  color: $colorFade;
}
