$CardWidth: 7vmin;
$CardHeight: 9vmin;
$CardMargin: 0.5vmin;
$shadowColor: rgba(0, 0, 0, 0.25);
$colorFade: hsl(320, 4%, 44%);

@mixin verticallyCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  color: hsl(315, 6%, 13%);
}

.color-faded {
  color: $colorFade;
}
