@import "global";

.PlayingCard {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: $CardWidth / 2.5;
  width: $CardWidth;
  height: $CardHeight;
  margin-right: $CardMargin;
}

.PlayingCardSuit-spades,
.PlayingCardSuit-clubs {
  color: black;
}

.PlayingCardSuit-hearts,
.PlayingCardSuit-diamonds {
  color: red;
}

.PlayingCardRank {
  position: absolute;
  top: 0;
  left: 0;
  right: $CardWidth / 2;
  letter-spacing: -1px;
  text-align: center;
}

.PlayingCardSymbol {
  position: absolute;
  bottom: $CardWidth / 20;
  right: $CardWidth / 10;
}