$CardWidth: 6vmin;
$CardHeight: 8.5vmin;
$CardMargin: 0.75vmin;
$shadowColor: rgba(0, 0, 0, 0.15);
$shadowColorDark: rgba(0, 0, 0, 0.5);
$shadowColorFade: rgba(0, 0, 0, 0.075);
$colorFade: hsl(320, 4%, 44%);

$boxShadow: 2px 2px 0 $shadowColor;
$boxShadowHover: 8px 8px 0 $shadowColorFade;
$boxShadowDisabled: 1px 1px 0 $shadowColorDark;

$borderColor: rgba(0, 0, 0, 0.5);

$surfaceBackground: #F0F0F0;

@mixin verticallyCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  color: hsl(315, 6%, 13%);
}

p {
  line-height: 1.5;
}

.color-faded {
  color: $colorFade;
}

.button {
  cursor: pointer;
  font-size: 1em;
  border-radius: 6px;
  border: 2px solid hsl(226, 81%, 58%);
  background-color: hsl(226, 81%, 58%);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: $boxShadow;
  transition: all 0.075s ease-in;
}

.button:hover {
  transform: translate(-4px, -4px);
  box-shadow: $boxShadowHover;
}

.button[disabled], .button[disabled]:hover {
  cursor: default;
  opacity: 0.5;
  transform: none;
  box-shadow: $boxShadowDisabled;
}

.button:focus, .button:active {
  border-color: hsl(226, 81%, 48%);
  outline: none;
}

.button:active {
  transform: none;
  box-shadow: $boxShadow;
}

.inputFlex {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  > span {
    flex: initial;
    padding-top: 0.1em;
    padding-right: 0.5em;
  }

  > .input {
    flex: auto;
  }
}

.input {
  font-size: inherit;
}

