@import "global";
@import "card";

.PlayingCard {
  @extend %card;
}

.PlayingCard:focus,
.PlayingCard:active {
  outline: none;
}

.SeatActive .PlayingCardValid:hover {
  z-index: 2;
}

.SeatActive .PlayingCardValid:hover,
.SeatActive .PlayingCardSelected:active {
  box-shadow: $boxShadowHover;
  transform: $CardHoverTransform;
}

.SeatActive .PlayingCardValid:active,
.SeatActive .PlayingCardSelected {
  transform: $CardSelectTransform;
  z-index: 1;
}

.SeatActive .PlayingCardSelected:hover {
  transform: $CardSelectTransform $CardHoverTransform;
}

.SeatActive .PlayingCardSelected:active {
  transform: $CardHoverTransform;
}

.PlayingCardSuit-spades,
.PlayingCardSuit-clubs {
  color: black;
}

.PlayingCardSuit-hearts,
.PlayingCardSuit-diamonds {
  color: red;
}

.PlayingCardRank {
  position: absolute;
  top: 0;
  left: .2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: 500;
}

.PlayingCardSymbol {
  position: absolute;
  bottom: .1em;
  right: .2em;
  font-weight: 300;
}

.Seat .PlayingCard, .PlayingCardInvalid {
  box-shadow: $boxShadowDisabled;
  opacity: 0.5;
}

.SeatActive .PlayingCardValid {
  box-shadow: $boxShadow;
  opacity: 1;
  cursor: pointer;
}
